name: Java
on:
  push:
    branches:
      - main # or master
    paths:
      - "java/**"

permissions:
  contents: read # for checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Run Tests
        working-directory: ./java
        run: mvn test

      - name: Semantic Release
        id: release
        uses: cycjimmy/semantic-release-action@v6
        with:
          working_directory: ./java
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Apache Maven Central
        if: ${{ steps.release.outputs.new_release_version }}
        working-directory: ./java
        run: |
          if [ -z "${{ secrets.MAVEN_CENTRAL_TOKEN }}" ]; then
            echo "::warning::Maven Central secrets are missing. Skipping publish."
            exit 0
          fi
          mvn --batch-mode deploy --activate-profiles release
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}